@use '../../sass/mediaQueriesMixin.scss' as *;
@use '../../sass/variables.scss' as *;

.chat_card {
  list-style: none;
  margin: 3em 0;

  &:nth-last-child(2) {
    margin-bottom: 5em;
  }
  &_item {
    .name {
      margin: 0.2em 0;
      margin-left: 100px;
    }
    .time {
      color: rgba(128, 128, 128, 0.567);
      text-align: center;
      @include mediaQuery(tablet) {
      }
    }
    .main_chat {
      display: flex;
      width: 100%;
      justify-content: space-between;
      flex-direction: row-reverse;
      align-items: center;
      &_text {
        border-radius: $border-radius-m;
        background: #fffffff8;
        width: 100%;
        min-height: 50px;
        padding: 1em;
      }

      &_img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin-right: 10px;
      }
    }
  }

  .currentUser {
    .main_chat {
      flex-direction: row;
      &_text {
        background: $accent-color;
      }
    }
    .name {
      text-align: end;
      margin-right: 100px;
    }
  }
}
// @include mediaQuery(tablet) {
//   margin-left: 310px;
// }
