@use '../../sass/mediaQueriesMixin.scss' as *;
@use '../../sass/variables.scss' as *;

.chat_room_form_wrapper {
  width: 100%;
  min-height: 60px;
  border: 1px solid #000;
  border-radius: $border-radius-s;
  margin-bottom: -2em;
  margin-top: 2em;
  display: flex;

  form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    // align-items: center;

    // padding: 2em 0.5em;

    input {
      width: 80%;
      border: none;
      background: transparent;
      padding-left: 0.3em;
      font-size: 1em;
      &:focus {
        // outline: 1px solid $accent-color;
        outline: none;
      }
    }

    button {
      padding: 10px 20px;
      border-top-right-radius: $border-radius-s;
      border-bottom-right-radius: $border-radius-s;
      border: none;
    }
  }
  @include mediaQuery(tablet) {
  }
}
