@use '../../sass/variables.scss' as *;
@use '../../sass/mediaQueriesMixin.scss' as *;

.post {
  width: 90%;
  display: flex;
  flex-flow: column;
  background-color: white;
  border-radius: $border-radius-s;
  padding: 20px;
  margin-bottom: 1.5em;
  grid-row-end: span 2;

  @include mediaQuery(tablet) {
    width: 60%;
  }

  .post-content {
    margin: 10px 0;
  }

  .post-img {
    height: 300px;
    margin: 10px;
    align-self: center;
    width: 100%;
    object-fit: contain;
  }

  .bottom-div {
    display: flex;
    justify-content: space-between;
    align-content: items;
    padding-top: 1em;
    margin-top: auto;

    .primary-btn {
      padding: 5px 15px;
      margin: 0;
    }
  }
}

.with-img {
  grid-row-end: span 3;
}
