@use '../../sass/variables.scss' as *;

.post {
  background-color: white;
  border-radius: $border-radius-s;
  padding: 20px;

  .post-content {
    margin: 10px 0;
  }

  .post-img {
    height: 200px;
    background-color: blueviolet;
    margin: 10px 0;
  }

  .bottom-div {
    display: flex;
    justify-content: space-between;
    align-content: items;
    margin-top: 20px;

    .primary-btn {
      padding: 5px 15px;
      margin: 0;
    }
  }
}
