$body-bg-color: #f9f6f6;
$login-header-color: #000;
$secondary-buttons: #F3F4F6;

$sidebar-width: 300px;
$sidebar-width-vw: 20vw;

$border-radius-s: 15px;
$border-radius-m: 25px;

$accent-color: #fbcb80;
$accent-color-lighter: #ffe1b0;

