@use '../../sass/variables.scss' as *;
@use '../../sass/mediaQueriesMixin.scss' as *;

.profile-friends {

  &_header {
    font-size: 2em;
    margin-bottom: 0.5em;
  }

  &_list {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    background-color: $secondary-buttons;
    border-radius: $border-radius-s;

    &_friend {
      margin: 1em 0.5em;
      padding: 1em;
      border-radius: $border-radius-s;

      >.info {
        width: max-content;
      }
    }
  }
}