@use '../../sass/variables.scss' as *;
@use '../../sass/mediaQueriesMixin.scss' as *;

.profile {
  margin: 1.3em;
  padding: 10px;
  height: 100%; /* Temporary */
  background-color: white;
  border-radius: $border-radius-s;
  display: flex;
  flex-direction: column;

  @include mediaQuery(tablet) {
    margin-left: 332px;
    padding: 1em;
  }

  @include mediaQuery(laptop) {
    padding: 2em;
  }

  &_buttons {
    align-self: flex-end;

    &_edit {
      background-color: $accent-color;
      border-radius: $border-radius-s;
      padding: 0.5em 1.5em;
      border: 1px solid transparent;
      transition: all 0.3s ease;

      &:focus {
        outline: none;
      }

      &:hover {
        background-color: white;
        border: 1px solid $accent-color;
      }
    }

    &_logout {
      background-color: #BF4C5E;
      border-radius: $border-radius-s;
      padding: 0.5em 1.5em;
      border: 1px solid transparent;
      margin-right: 0.5em;
      transition: all 0.3s ease;

      &:focus {
        outline: none;
      }

      &:hover {
        background-color: white;
        border: 1px solid #BF4C5E;
      }
    }

    &_edit, &_logout {
      display: inline-flex;
      align-items: center;
    }

    &_icon {
      height: 1.5em;
      margin-right: 0.5em;
    }
  }
}
