@use '../../sass/variables.scss' as *;
@use '../../sass/mediaQueriesMixin.scss' as *;

.profile {
  margin: 2em 2em 2em 2em;
  padding: 10px;
  height: 100%; /* Temporary */
  background-color: white;
  border-radius: $border-radius-s;
  display: flex;
  flex-direction: column;

  @include mediaQuery(tablet) {
    margin-left: 332px;
    padding: 1em;
  }

  @include mediaQuery(laptop) {
    padding: 2em;
  }

  &_edit-button {
    background-color: $accent-color;
    border-radius: $border-radius-s;
    padding: 0.5em 2em;
    border: none;
    align-self: flex-end;

    &:focus {
      outline: none;
    }
  }
}
