@use '../../sass/mediaQueriesMixin.scss' as *;

.messages {
  padding: 2em 0.8em;
  position: relative;
  @include mediaQuery(laptop) {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 0.4em 1em;
    gap: 0 1em;
    height: 100vh;
    overflow: hidden;
    animation: fadeIn 1s ease;
    animation-iteration-count: 1;
  }
  img {
    max-width: 50%;
  }

  @include mediaQuery(tablet) {
    margin-left: 310px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}
