@use '../../sass/mediaQueriesMixin.scss' as *;
@use '../../sass/variables.scss' as *;

.rooms {
  display: flex;
  white-space: nowrap;
  overflow-x: scroll;
  position: sticky;
  top: 0px;
  width: 100%;
  background: #fff;
  padding: 1em;
  border-radius: $border-radius-s;
  justify-content: space-between;

  @include mediaQuery(laptop) {
    flex-basis: 36%;
    margin-left: 1em;
    flex-direction: column;
    grid-row: 1;
    justify-content: flex-start;
    margin-top: 1em;
    margin-bottom: 1em;
    top: 10px;
    min-height: 95vh;
  }

  @include mediaQuery(desktop) {
    flex-basis: 20%;
  }

  button {
    margin: 0 1em;
    background: none;
    padding: 1em;
    border-radius: $border-radius-s;
    border: 1px solid $accent-color;
    font-size: 1em;
    font-weight: bold;
    &:before {
      content: '#';
    }

    @include mediaQuery(laptop) {
      margin: 1em;
      position: sticky;
      top: 20px;
    }
  }
  .btn_selected {
    background: $accent-color;
  }
}
