@use '../../../sass/variables.scss' as *;
@use '../../../sass/mediaQueriesMixin.scss' as *;

.company-profile {
  // margin-left: $sidebar-width-vw;
  padding: 20px;
  background-color: white;
  border-radius: $border-radius-m;

  .top-btn-wrapper {
    margin-top: 25px;
    display: flex;
    align-items: center;

    @media only screen and (max-width: 450px) {
      flex-flow: column;
    }
  }

  .description {
    h1 {
      text-align: center;
      margin-top: 10vh;
    }

    p {
      text-align: center;
      width: 60%;
      margin: auto;
    }
  }

  .centered {
    text-align: center;
    width: 50%;
    margin: auto;
    font-size: large;

    @media only screen and (max-width: 450px) {
      width: 90%;
    }
  }

  .company-loading {
    display: block;
    margin: auto;
    margin-top: 100px;
    width: 250px;

    #circle {
      fill: $accent-color;
    }
  }

  .error-wrapper {
    margin-top: 30vh;
    text-align: center;

    h1 {
      margin-bottom: 20px;
    }

    .error-text {
      text-align: center;
      font-size: larger;
    }

    button {
      margin: auto;
      margin-top: 50px;
    }
  }

  .timeline-btn-wrapper {
    display: flex;
    flex-wrap: nowrap;
    margin-left: auto;
    align-items: center;
    justify-content: flex-end;

    p {
      margin-right: 15px;
    }

    button {
      margin: 0 5px;

      @media only screen and (max-width: 450px) {
        margin: 10px 5px;
      }
    }

    @media only screen and (max-width: 450px) {
      justify-content: center;
      flex-wrap: wrap;

      p {
        width: 100%;
        text-align: center;
      }
    }
  }
}

.company-profile {
  min-height: 100vh;

  @include mediaQuery(tablet) {
    margin-left: 310px;
  }
}
