@use '../../../sass/variables.scss' as *;
@use '../../../sass/mediaQueriesMixin.scss' as *;

.company-profile {
  // margin-left: $sidebar-width-vw;
  padding: 20px;
  background-color: white;
  border-radius: $border-radius-m;

  .top-btn-wrapper {
    margin-top: 25px;
    display: flex;
    align-items: center;
  }

  .description {
    h1 {
      text-align: center;
      margin-top: 10vh;
    }

    p {
      text-align: center;
      width: 60%;
      margin: auto;
    }
  }

  .centered {
    text-align: center;
    width: 50%;
    margin: auto;
    font-size: large;

    @media only screen and (max-width: 450px) {
      width: 90%;
    }
  }

  .company-loading {
    display: block;
    margin: auto;
    margin-top: 100px;
    width: 250px;

    #circle {
      fill: $accent-color;
    }
  }

  .error-text {
    text-align: center;
    margin-top: 150px;
    font-size: larger;
  }

  .timeline-btn-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    max-width: 50%;
    justify-content: flex-end;

    button {
      margin: 0 5px;
    }
  }
}

.company-profile {
  min-height: 100vh;

  @include mediaQuery(tablet) {
    margin-left: 310px;
  }
}
