@use '../../../sass/variables.scss' as *;

.stock-graph {
  margin: 50px auto;
  h1 {
    text-align: center;
    font-weight: 500;
  }

  .info-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;

    .stock-info {
      margin: 0 10px;

      @media (max-width: 450px) {
        margin-bottom: 20px;
      }
    }

    .extra-info {
      margin: 0 10px;
    }
  }

  .stock-error {
    margin: 50px 0;
  }
}
