@use '../../sass/variables.scss' as *;

.signup {
  // height: clamp(400px, 650px, 700px);
  min-height: 700px;
  width: clamp(30%, 94%, 700px);
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  border-radius: 32px;
  margin: auto auto;
  margin: 0.5em 0;
  transform-style: preserve-3d;
  animation: appear 1s ease;

  label {
    display: block;
  }
  small {
    opacity: 0.6;
  }
  &_header {
    font-size: 2.8em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  &_error, &_msg {
    min-height: 40px;
    color: red;
    padding: 10px 15px;
    border-radius: 10px;
    width: clamp(200px, 90%, 500px);
    text-align: center;
    transition: all 0.5s ease;
    font-weight: 500;
    background-color: #ff00001f;
    border: 1px solid red;
  }

  &_msg {
    color: #2e2e2e;
    background-color: #f4d4d98a;
    border: 1px solid #2e2e2e;
  }

  &_form {
    width: clamp(260px, 90%, 450px);

    &_email_div,
    &_password_div,
    &_confirm_password_div {
      margin: 1em 0;
    }

    &_email_div_input,
    &_password_div_input,
    &_confirm_password_div_input {
      width: 100%;
      border-radius: 23px;
      padding: 1.3em;
      border: 1px solid transparent;
      margin: 0.5em 0;
      background: $body-bg-color;

      &:valid:not(:placeholder-shown):not(focus) {
        border: 1px solid $accent-color;
      }
      &:focus {
        outline: none;
      }
    }
    &_email_div_label,
    &_password_div_label,
    &_confirm_password_div_label,
    &_radio_label {
      font-weight: 900;
      font-size: 1.2em;
    }

    &_radio_div_wrapper > div {
      border: 23px;
      border-radius: 23px;
      padding: 1em;
      background: #f9f6f6;
      margin: 0.5em 0;

      label {
        cursor: pointer;
      }

      input[type='radio'] {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        height: 22px;
        width: 22px;
        border: 1px solid rgb(214, 214, 214);
        border-radius: 50%;
        transition: 0.3s ease;
        cursor: pointer;
        background: white;

        &:checked {
          background: $accent-color;
          border: 1px solid $body-bg-color;
        }
      }
    }
    &_button {
      display: grid;
      width: 100%;
      border: 1px solid transparent;
      padding: 15px 30px;
      border-radius: 23px;
      background: $accent-color;
      transition: all 0.3s ease ;
      margin: 3em 0;

      &:hover {
        background-color: white;
        border: 1px solid $accent-color;
      }
    }

    &_radio_div_wrapper > div {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      label {
        margin-left: 0.4em;
      }
    }

    &_account_message {
      text-align: center;
      color: #b2b2b2;

      >a {
        color: #6565e7;
        text-decoration: none;
      }
    }
  }
}

@keyframes appear {
  from {
    transform: perspective(500px) rotateY(180deg);
  }
}
