@use '../../variables.scss' as *;

.login_wrapper {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.signup {
  height: clamp(400px, 650px, 700px);
  width: clamp(30%, 94%, 812px);
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  border-radius: 32px;
  margin: auto auto;
  margin: 0.5em 0;

  label {
    display: block;
  }

  &_form_email_div,
  &_form_password_div,
  &_form_confirm_password_div {
    margin: 1em 0;
  }

  &_form_email_div_input,
  &_form_password_div_input,
  &_form_confirm_password_div_input {
    width: 100%;
    border-radius: 23px;
    padding: 1.3em;
    border: none;
    margin: 0.5em 0;
    background: $body-bg-color;

    &:focus {
      outline: none;
    }
  }

  &_header {
    font-size: 2.8em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  &_error {
    color: red;
    background: $body-bg-color;
    padding: 10px 15px;
    border-radius: 10px;
    width: 90%;
    text-align: center;
  }
  &_form_button {
    margin-top: 3em;
    display: grid;
    width: 100%;
    border: none;
    padding: 15px 30px;
    border-radius: 23px;
  }
}
