@use '../../../sass/variables.scss' as *;
@use '../../../sass/mediaQueriesMixin.scss' as *;

.sharebar-input-div {
  display: flex;
  width: 100%;
  align-items: center;
  .share-input {
    border: 0;
    border-bottom: 1.5px solid #bababa;
    padding: 5px;
    padding-right: 25px;
    margin-left: 20px;
    width: 100%;
    outline: none;

    &::placeholder {
      color: #bababa;
    }
  }

  .attach-btn {
    label {
      cursor: pointer;
      display: flex;
      justify-content: center;
      width: 25px;
      height: 25px;
      margin-left: -20px;
      margin-bottom: 0.5em;
    }

    input[type="file"] {
      display: none;
    }
  }

  .primary-btn {
    padding: 5px 10px;
    margin-left: 20px;
    background-color: $accent-color;
  }
}
