@use './sass/main.scss';
@use './sass/variables.scss' as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

button:active {
  transform: scale(0.9);
}

.App {
  background: $body-bg-color;
}
