@use './main.scss';
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  background: #212112;
  display: grid;
  place-items: center;
  h1 {
    color: beige;
  }
}
